h2 {
  text-align: left;
  color: blue;
}
h3 {
  text-align: left;
  color: brown;
}

p {
  text-align: left;
  font-family: cursive;
}
img.man {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 140px;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}
body {
  background: url("../images/pattern.png");
}
td,
th {
  text-align: left;
  font-family: cursive;
}
table {
  align-items: centred;
  width: 50%;
}
